@model ForgotPasswordModel
@{
    Layout = null;
}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <!--- responsive tag --->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--- Title Tag --->
    <link rel="icon" href="assets/images/favicon.ico" />
    <title>Forgot Password</title>

    <!--- Bootstrap CSS --->
    <link rel="stylesheet" href="@Url.Content("~/assets/css/bootstrap.min.css")" asp-append-version="true" />

    <!--- bootstrap-flot label --->
    <link rel="stylesheet" href="@Url.Content("~/assets/css/bootstrap-float-label.min.css")" asp-append-version="true" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/style.css")" asp-append-version="true" />
    <!--- toastr css --->
    <link rel="stylesheet" href="@Url.Content("~/plugins/toastr/toastr.min.css")" asp-append-version="true" />
    <style>
        .field-validation-error {
            font-size: 10px;
            color: #FF616D;
            margin: 5px 0 0 10px;
        }
    </style>
</head>

<body>
    <div class="pageloader"></div>
    <div class="forgetpassword-wrapper">
        <h1 class="logo"><a asp-action="index" asp-controller="login" class="logo-link"><img src="@Url.Content("~/assets/images/logo.svg")" alt="Health LAYBY" /></a></h1>
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="login-left-info">
                    <div class="btnBack">
                        <a class="btn-type2" title="Back" asp-action="index" asp-controller="login">Back</a>
                    </div>
                    <div class="head-type1 login-head">Forgot Password</div>
                    <div class="cms-text login-content">No worry we will send you reset instructions.</div>
                    <form class="login-form" method="post" asp-route="forgotPassword" id="forgotPasswordForm">
                        <div class="form-group input-group">
                            <span class="has-float-label">
                                <input asp-for="EmailAddress" type="email" class="form-control" />
                                <label asp-for="EmailAddress">Email<span class="text-danger">*</span></label>
                            </span>
                            <span asp-validation-for="EmailAddress" class="help-block text-danger small"></span>
                        </div>
                        <input type="submit" class="btn-type1 loginSubmit w100" value="Send" />
                        <div class="forgetlink">
                            Back to <a asp-action="index" asp-controller="login" class="link-type1">Login</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="ft-info">&copy; @DateTime.UtcNow.Year Healthlayby. All Rights Reserved.</div>
    </div>
    <!-- jQuery Js -->

    <script type="text/javascript" src="@Url.Content("~/assets/js/jquery.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/plugins/jquery-validation/dist/jquery.validate.min.js")" asp-append-version="true"></script>
    <script src="@Url.Content("~/plugins/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js")" asp-append-version="true"></script>
    <script src="@Url.Content("~/js/site.js")" asp-append-version="true"></script>
    <!-- toastr js -->
    <script src="@Url.Content("~/plugins/toastr/toastr.min.js")" asp-append-version="true"></script>

    <script type="text/javascript">
        $(document).ready(() => {
            $('#forgotPasswordForm').on('submit', function () {
                if (!$('#forgotPasswordForm').valid()) {
                    return false;
                }
                showLoader();
            });

            let success = '@ViewData[MessageConstant.SuccessMessageKey]';
            let error = '@ViewData[MessageConstant.ErrorMessageKey]';

            if (success != undefined && success != null && success.trim() != "") {
                showSuccessMessage(success);
            }

            if (error != undefined && error != null && error.trim() != "") {
                showErrorMessage(error);
            }
        });
    </script>
</body>
</html>