@model LoginModel
@{
    Layout = null;
    
    var returnUrl = ViewBag.ReturnUrl;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />

    <!--- responsive tag --->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--- Title Tag --->
    <link rel="icon" href="@Url.Content("~/assets/images/favicon.ico")" asp-append-version="true" />
    <title>Login</title>
    <link rel="stylesheet" href="@Url.Content("~/assets/css/bootstrap.min.css")" asp-append-version="true" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/bootstrap-float-label.min.css")" asp-append-version="true" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/style.css")" asp-append-version="true" />
    <!--- toastr css --->
    <link rel="stylesheet" href="@Url.Content("~/plugins/toastr/toastr.min.css")" asp-append-version="true" />
</head>
<body class="">
    <!-- loadingpage -->
    <div class="pageloader"></div>
    <div class="login-wrapper">
        <h1 class="logo">
            <a href="login.html" class="logo-link">
                <img src="@Url.Content("~/assets/images/logo.svg")" alt="Health LAYBY" asp-append-version="true" />
            </a>
        </h1>
        <div class="row align-items-center">
            <div class="col-lg-6 col-12">
                <div class="login-left-info">
                    <div class="head-type1 login-head">Welcome!</div>
                    <div class="cms-text login-content">Please enter your details</div>
                    <form class="login-form" asp-action="Index" asp-controller="Login" asp-route-returnUrl="@returnUrl" method="post" id="loginForm">
                        @Html.AntiForgeryToken()
                        <div class="form-group input-group">
                            <span class="has-float-label">
                                <input asp-for="EmailAddress"  id="email" type="email" class="form-control" placeholder="Email">
                                <label asp-for="EmailAddress">Email<span class="text-danger">*</span></label>
                            </span>
                            <span asp-validation-for="EmailAddress" class="help-block text-danger small"></span>
                        </div>
                        <div class="form-group input-group">
                            <span class="has-float-label">
                                <input asp-for="Password" id="Password" type="password" class="form-control" placeholder="Password">
                                <label asp-for="Password">Password<span class="text-danger">*</span></label>
                                <i class="eye-off" id="eyeCh"></i>
                            </span>
                            <span asp-validation-for="Password" class="help-block text-danger small"></span>
                        </div>
                        <div class="forgetlink">
                            <a asp-route="forgotPassword" class="link-type1">Forgot Password</a>
                        </div>
                        <input type="submit" class="btn-type1 loginSubmit w100" value="Login" />
                        <div class="forgetlink text-center">
                            Want to join Health Layby?
                            <a asp-route="register" class="link-type1">Register</a>
                        </div>
                    </form>
                </div>
                <div class="ft-info">&copy; 2023 Healthlayby. All Rights Reserved.</div>
            </div>
            <div class="col-lg-6 loginbannerOuter">
                <div class="loginbanner" style="background:url('assets/images/merchand-login.png') no-repeat;"></div>
            </div>
        </div>
    </div>
    <!-- jQuery Js -->
    <script src="@Url.Content("~/assets/js/jquery.min.js")" asp-append-version="true"></script>
    <script src="@Url.Content("~/assets/js/bootstrap.min.js")" asp-append-version="true"></script>
    <script src="@Url.Content("~/plugins/jquery-validation/dist/jquery.validate.min.js")" asp-append-version="true"></script>
    <script src="@Url.Content("~/plugins/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js")" asp-append-version="true"></script>
    <script src="@Url.Content("~/js/site.js")" asp-append-version="true"></script>
    <!-- toastr js -->
    <script src="@Url.Content("~/plugins/toastr/toastr.min.js")" asp-append-version="true"></script>

    <script type="text/javascript">
        $(document).ready(() => {
            $("#eyeCh").on("click", function () {
                if ($(this).hasClass("eye-off")) {
                    $(this).addClass("eye-on");
                    $(this).removeClass("eye-off");
                    $("#@Html.IdFor(x => x.Password)").attr("type", "text");
                }
                else {
                    $(this).addClass("eye-off");
                    $(this).removeClass("eye-on");
                    $("#@Html.IdFor(x => x.Password)").attr("type", "password");
                }
            });

            $('#loginForm').on('submit', function () {
                if (!$('#loginForm').valid()) {
                    return false;
                }
                showLoader();
            });

            let success = '@ViewData[MessageConstant.SuccessMessageKey]';
            let error = '@ViewData[MessageConstant.ErrorMessageKey]';

            if (success != undefined && success != null && success.trim() != "") {
                showSuccessMessage(success);
            }

            if (error != undefined && error != null && error.trim() != "") {
                showErrorMessage(error);
            }
        });
    </script>
</body>
</html>