@model ResetPasswordMerchantModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />

    <!--- responsive tag --->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--- Title Tag --->
    <link rel="icon" href="assets/images/favicon.ico" />
    <title>Set New Password</title>

    <link rel="stylesheet" href="@Url.Content("~/assets/css/bootstrap.min.css")" asp-append-version="true" />
    <!--- bootstrap-flot label --->
    <link rel="stylesheet" href="@Url.Content("~/assets/css/bootstrap-float-label.min.css")" asp-append-version="true" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/style.css")" asp-append-version="true" />
</head>

<body>
    <div class="forgetpassword-wrapper">
        <h1 class="logo">
            <a href="login.html" class="logo-link">
                <img src="@Url.Content("~/assets/images/logo.svg")" alt="Health LAYBY" asp-append-version="true" />
            </a>
        </h1>
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="login-left-info">
                    <div class="btnBack">
                        <a class="btn-type2" title="Back" href="forgot-password.html">Back</a>
                    </div>
                    <div class="head-type1 login-head">Set new password</div>
                    <div class="cms-text login-content">Your new password must be 8 character long and different to previously used passwords.</div>
                    <form class="login-form" method="post" asp-action="ResetPassword" asp-controller="Login" id="resetPasswordForm">
                        @Html.HiddenFor(x=>x.ResetToken)
                        <div class="form-group input-group">
                            <span class="has-float-label">
                                <input asp-for="Password" class="form-control" type="password" placeholder="******" />
                                <label asp-for="Password">New Password<span class="text-danger">*</span></label>
                                <i class="eye-off" id="eyeCh"></i>
                            </span>
                            <span asp-validation-for="Password" class="help-block text-danger small"></span>
                        </div>
                        <div class="form-group input-group">
                            <span class="has-float-label">
                                <input asp-for="ConfirmPassword" class="form-control" type="password" placeholder="******" />
                                <label asp-for="ConfirmPassword">Confirm Password<span class="text-danger">*</span></label>
                                <i class="eye-off" id="toggleConfirmPassword"></i>
                            </span>
                            <span asp-validation-for="ConfirmPassword" class="help-block text-danger small"></span>
                        </div>
                        <input type="submit" class="btn-type1 loginSubmit w100" value="Reset Password" />
                    </form>
                </div>
            </div>
        </div>
        <div class="ft-info">&copy; 2023 Healthlayby. All Rights Reserved.</div>
    </div>
    <!-- jQuery Js -->
    <script src="@Url.Content("~/assets/js/jquery.min.js")" asp-append-version="true"></script>
    <script src="@Url.Content("~/assets/js/bootstrap.min.js")" asp-append-version="true"></script>
    <script src="@Url.Content("~/plugins/jquery-validation/dist/jquery.validate.min.js")" asp-append-version="true"></script>
    <script src="@Url.Content("~/plugins/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js")" asp-append-version="true"></script>
    <script src="@Url.Content("~/js/site.js")" asp-append-version="true"></script>
    <script src="@Url.Content("~/plugins/toastr/toastr.min.js")" asp-append-version="true"></script>

    <script type="text/javascript">
        $(document).ready(() => {
            $('#resetPasswordForm').on('submit', function () {
                if (!$('#resetPasswordForm').valid()) {
                    return false;
                }
                showLoader();
            });

            $("#eyeCh").on("click", function () {
                if ($(this).hasClass("eye-off")) {
                    $(this).addClass("eye-on");
                    $(this).removeClass("eye-off");
                    $("#@Html.IdFor(x => x.Password)").attr("type", "text");
                }
                else {
                    $(this).addClass("eye-off");
                    $(this).removeClass("eye-on");
                    $("#@Html.IdFor(x => x.Password)").attr("type", "password");
                }
            });

            $("#toggleConfirmPassword").on("click", function () {
                if ($(this).hasClass("eye-off")) {
                    $(this).addClass("eye-on");
                    $(this).removeClass("eye-off");
                    $("#@Html.IdFor(x => x.ConfirmPassword)").attr("type", "text");
                }
                else {
                    $(this).addClass("eye-off");
                    $(this).removeClass("eye-on");
                    $("#@Html.IdFor(x => x.ConfirmPassword)").attr("type", "password");
                }
            });

            let success = '@ViewData[MessageConstant.SuccessMessageKey]';
            let error = '@ViewData[MessageConstant.ErrorMessageKey]';

            if (success != undefined && success != null && success.trim() != "") {
                showSuccessMessage(success);
            }

            if (error != undefined && error != null && error.trim() != "") {
                showErrorMessage(error);
            }
        });
    </script>

</body>
</html>