@{
    Guid token = ViewBag.tokenId;
    long merchantId = ViewBag.merchantId;
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />

    <!--- responsive tag --->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--- Title Tag --->
    <link rel="icon" href="@Url.Content("~/assets/images/favicon.ico")" asp-append-version="true" />
    <title>Forgot Password</title>

    <!--- Bootstrap CSS --->
    <link rel="stylesheet" href="@Url.Content("~/assets/css/bootstrap.min.css")" asp-append-version="true" />
    <!--- bootstrap-flot label --->
    <link rel="stylesheet" href="@Url.Content("~/assets/css/bootstrap-float-label.min.css")" asp-append-version="true" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/style.css")" asp-append-version="true" />
</head>

<body>
    <div class="forgetpassword-wrapper">
        <h1 class="logo">
            <a href="login.html" class="logo-link">
                <img src="@Url.Content("~/assets/images/logo.svg")" alt="Health LAYBY" asp-append-version="true" />
            </a>
        </h1>
        <div class="row align-items-center">
            <input type="hidden" asp-for="@token" />
            <input type="hidden" asp-for="@merchantId" />
            <div class="col-md-12">
                <div class="login-left-info verification-info">
                    <div class="btnBack">
                        <a class="btn-type2" title="Back" asp-route="register">Back</a>
                    </div>
                    <div class="head-type1 login-head">Enter Verification Code</div>
                    <div class="cms-text login-content">We have just sent a verification code to @ViewBag.EmailAddress </div>
                    <form class="login-form">
                        <div class="form-group input-group">
                            <div class="otp-form otp-input-fields" id="otpDigit">
                                <input type="number" class="otp-field otp__digit otp__field__1" id="otpDigit1" name="opt-field[]" maxlength=1>
                                <input type="number" class="otp-field otp__digit otp__field__2" id="otpDigit2" name="opt-field[]" maxlength=1>
                                <input type="number" class="otp-field otp__digit otp__field__3" id="otpDigit3" name="opt-field[]" maxlength=1>
                                <input type="number" class="otp-field otp__digit otp__field__4" id="otpDigit4" name="opt-field[]" maxlength=1>
                                <input type="number" class="otp-field otp__digit otp__field__5" id="otpDigit5" name="opt-field[]" maxlength=1>
                                <input type="number" class="otp-field otp__digit otp__field__6" id="otpDigit6" name="opt-field[]" maxlength=1>
                            </div>
                            <div id="validationErrorCode" class="field-error" style="display:none;">Please enter a valid verification code</div>
                            <div id="validationError" class="field-error" style="display:none;"></div>
                        </div>
                        <button type="button" id="VerifyOTP" class="btn-type1 loginSubmit w100">Verify</button>
                        <div class="forgetlink">
                            <a asp-route="resendOTP" asp-route-token="token" asp-route-merchantId="merchantId" class="link-type1">Resent OTP</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="ft-info">&copy; 2023 Healthlayby. All Rights Reserved.</div>
    </div>
    <!-- jQuery Js -->
    <script src="@Url.Content("~/assets/js/jquery.min.js")" asp-append-version="true"></script>
    <script src="@Url.Content("~/assets/js/bootstrap.min.js")" asp-append-version="true"></script>

    <script type="text/javascript">
        $(document).ready(() => {
            $(".otp-form *:input[type!=hidden]:first").focus();
            let otp_fields = $(".otp-form .otp-field"),
                otp_value_field = $(".otp-form .otp-value");
            otp_fields
                .on("input", function (e) {
                    $(this).val(
                        $(this)
                            .val()
                            .replace(/[^0-9]/g, "")
                    );
                    let opt_value = "";
                    otp_fields.each(function () {
                        let field_value = $(this).val();
                        if (field_value != "") opt_value += field_value;
                    });
                    otp_value_field.val(opt_value);
                })
                .on("keyup", function (e) {
                    let key = e.keyCode || e.charCode;
                    if (key == 8 || key == 46 || key == 37 || key == 40) {
                        // Backspace or Delete or Left Arrow or Down Arrow
                        $(this).prev().focus();
                    } else if (key == 38 || key == 39 || $(this).val() != "") {
                        // Right Arrow or Top Arrow or Value not empty
                        $(this).next().focus();
                    }
                })
                .on("paste", function (e) {
                    let paste_data = e.originalEvent.clipboardData.getData("text");
                    let paste_data_splitted = paste_data.split("");
                    $.each(paste_data_splitted, function (index, value) {
                        otp_fields.eq(index).val(value);
                    });
                });


            $("#VerifyOTP").click(function () {
                var digit1 = $("#otpDigit1").val(); var digit2 = $("#otpDigit2").val(); var digit3 = $("#otpDigit3").val(); var digit4 = $("#otpDigit4").val(); var digit5 = $("#otpDigit5").val(); var digit6 = $("#otpDigit6").val();
                if(digit1 == ''){
                    $("#validationErrorCode").show();
                    return false;
                }
                else if (digit2 == '') {
                    $("#validationErrorCode").show();
                    return false;
                }
                else if (digit3 == '') {
                    $("#validationErrorCode").show();
                    return false;
                }
                else if (digit4 == '') {
                    $("#validationErrorCode").show();
                    return false;
                }
                else if (digit5 == '') {
                    $("#validationErrorCode").show();
                    return false;
                }
                
                else if (digit6 == '') {
                    $("#validationErrorCode").show();
                    return false;
                }

                var submittedOTP = digit1 + digit2 + digit3 + digit4 + digit5 + digit6;
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("SubmitOTP","Login")',
                    data: {
                        otplList: { MerchantId: @merchantId , EmailAddress : '@ViewBag.EmailAddress', token : '@token'},
                        submittedOTP: submittedOTP
                    },
                    async: false,
                    success: function (response) {
                        if (response.success) {
                            url = response.url +"Login/AddBankDetails?merchantId=" + response.data;
                            window.location.replace(url);
                        }
                        else{
                            $("#validationErrorCode").hide();
                            $("#validationError").hide();
                            $("#validationError").val(response.message);
                            $("#validationError").text(response.message);
                            $("#validationError").show();
                            return false;
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        hideLoader();
                        showErrorMessage("@MessageConstant.CommonErrorMessage");
                    },
                });

            });
        });
    </script>
</body>
</html>