@model MerchantModel

@{
    Layout = null;
}

<div class="modal fade" id="viewmerchant" data-backdrop="static" data-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered w-550">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="head-type2">Merchant Details</h5>
                <button type="button" class="close" data-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form class="addcustomer">
                    <div class="row grid-sp15">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <img class="merchantviewimg" src="@DirectoryConstant.MerchantProfilePicDirectory/@Model.ProfilePic" alt="Aaron Willmott" onError="nofindMerchant(this)" />
                            </div>
                            <div class="form-group">
                                <div class="viewformBg">
                                    <span class="viewformlabel">Name:</span>
                                    <span class="viewformval">@Model.FullName</span>
                                </div>
                                <div class="viewformBg">
                                    <span class="viewformlabel">Email:</span>
                                    <span class="viewformval">@Model.EmailAddress</span>
                                </div>
                                <div class="viewformBg">
                                    <span class="viewformlabel">Phone:</span>
                                    <span class="viewformval">@Model.PhoneNumber</span>
                                </div>
                                <div class="viewformBg">
                                    <span class="viewformlabel">Registered:</span>
                                    <span class="viewformval">@Model.CreatedOn.Value.ToString("MMMM dd, yyyy")</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <img class="merchantviewlogo" src="@DirectoryConstant.MerchantLogoDirectory/@Model.Logo" alt="Logo ipsum" onError="nofindLogo(this)" />
                            </div>
                            <div class="form-group">
                                <div class="viewformBg">
                                    <span class="viewformlabel">Clinic/Lab:</span>
                                    <span class="viewformval">@Model.ClinicName</span>
                                </div>
                                <div class="viewformBg">
                                    <span class="viewformlabel">Location:</span>
                                    <span class="viewformval">@Model.ClinicLocation</span>
                                </div>
                                <div class="viewformBg">
                                    <span class="viewformlabel">Category:</span>
                                    <span class="viewformval">@Model.CategoryName</span>
                                </div>
                                <div class="viewformBg">
                                    <span class="viewformlabel">Service:</span>
                                    <span class="viewformval">@Model.ServicesNames</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="editformBg singleview">
                                    <span class="editformlabel">
                                        Bank:<br /><br />
                                        @Model.BankName, &nbsp;@Model.BranchName<br /><br />
                                    </span>
                                    <span class="editformval">SWIFT-code @Model.BSBNo</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button href="Javascript:;" data-dismiss="modal" class="btn-type4 loginSubmit" onclick="rejectMerchant(@Model.MerchantId)">Reject</button>
                        <button data-dismiss="modal" class="btn-type1 loginSubmit" onclick="openAccpetPopup(@Model.MerchantId)">Accept</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function acceptRequest(merchantId) {
        showLoader();
        $.ajax({
            url: "@Url.Action("MerchantAcceptRejectRequest", "MerchantRequest")",
            type: 'POST',
            dataType: "JSON",
            data: { id: merchantId, rejectedReason: "-", merchantRequestenum: @Convert.ToInt32(MerchantRequestEnum.Accepted)},
            success: function (data) {
                hideLoader();
                if (data.success) {
                    drawMerchantGrid();
                    showSuccessMessage(data.message);
                }
                else {
                    hideLoader();
                    showErrorMessage(data.message);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                hideLoader();
                showErrorMessage("@MessageConstant.CommonErrorMessage");
            }
        });
    }
</script>